.services__wrapper {
    padding-top: 54px;
    margin-bottom: 100px;
}

.services__title-main {
    font-size: 30px;
    color: $main-text-color;
    font-family: $main-font;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    
    &::after {
    display: block;
    content: "";
    width: 60px;
    height: 3px;
    background-color: $after-color;
    margin: 40px auto 64px;
}
}

.services__list {
    @extend %flex-between;
    flex-wrap: wrap;
}

.services__items {
    width: 382px;
    margin-bottom: 100px;
    background-position: left 20px top 0;
    background-repeat: no-repeat;
    
    &:nth-last-child(-n+3) {
    margin-bottom: 0;
}
}

.services__items--alarm {
    background-image: url(../images/icons/alarm.svg);
}

.services__items--graph {
    background-image: url(../images/icons/graph.svg);
}

.services__items--computer {
    background-image: url(../images/icons/computer.svg);
}

.services__items--book {
    background-image: url(../images/icons/book.svg);
}

.services__items--home {
    background-image: url(../images/icons/home.svg);
}

.services__items--image {
    background-image: url(../images/icons/image.svg);
}


.services__title {
    font-size: 14px;
    color: $main-text-color;
    font-family: $main-font;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 20px;
    padding-left: 82px;
    
    &--work {
    display: block;
    font-size: 24px;
    color: $main-text-color;
    font-family: $secondary-font;
    font-weight: 400;
    text-transform: none;
    margin-bottom: 20px;
}
}

.services__description {
    font-size: 15px;
    line-height: 24px;
    color: $secondary-text-color;
    font-family: $third-font;
    font-weight: 400;
    padding-left: 82px;
}