$main-font: "Montserrat";
$secondary-font: "Kaushan Script";
$third-font: "Roboto";
$main-color:#ffffff;
$hover-color: #fce38a;
$after-color: #f38181;
$main-text-color: #333333;
$secondary-text-color: #999999;
$transition-hover: 500ms;